<div class="box-container">
    <span id="from-subforum">
        <i class="material-icons">east</i>
        from <a href="#">{{subfname}}</a>
    </span>
    <a href="#"><h3>{{threadTitle}}</h3></a>
    <div id="author-info">
        <img src="/resources/profile2.png" />
        <span>
            <a href="#">{{username}}</a>
            <p>{{datePosted}}</p>
        </span>
    </div>
    <p class="content-preview">{{body}}</p>
</div>