<div class="box-container">
    <span id="from-subforum">
        <i class="material-icons">east</i>
        from <a href="/subf/{{subforumName}}">{{subforumName}}</a>
    </span>
    <a href="/subf/{{subforumName}}/{{_id}}"><h3>{{threadTitle}}</h3></a>
    <div id="author-info">
        <img src="/images/{{username}}" />
        <span>
            <a href="/user/{{username}}">{{username}}</a>
            <p>{{datePosted}}</p>
        </span>
    </div>
    <p class="content-preview">{{body}}</p>
</div>