<div class="box-container">
    <span class="material-icons reply-mark">subdirectory_arrow_right</span>
    <div id="author-info">
        <img src="/images/{{username}}" /><!-- TODO: Add URL to profile pic -->
        <span>
            <a id="userReplied" href="/user/{{ username }}">{{ username }}</a>
            <p>{{ datePosted }}</p>
        </span>
    </div>
    <p class="content">{{ body }}</p>
    {{#if ownReply}}
    <div class="thread-actions box-container">
            <a href="/reply/{{threadId}}/{{_id}}/delete" id="rep-del-btn>" ><i class="material-icons">delete</i>Delete</a>
    </div>
    {{/if}}
</div>