<div class="thread box-container">
    <a href="/subf/{{subforumName}}/{{ _id}}"><h2>{{  threadTitle }}</h2></a>
    <div id="author-info">
        <img src="/images/{{ username}}" /><!-- TODO: Add URL to profile pic -->
        <span>
            <a href="/user/{{  username }}">{{  username }}</a>
            <p>{{  datePosted }}</p>
        </span>
    </div>

    <p class="content">{{  body }}</p>
    
</div>