<div class="thread box-container">
    <a href="/subf/{{subforumName}}/{{ _id}}"><h2>{{  threadTitle }}</h2></a>
    <div id="author-info">
        <img src="/images/{{ username}}" /><!-- TODO: Add URL to profile pic -->
        <span>
            <a href="/user/{{  username }}">{{  username }}</a>
            <p>{{  datePosted }}</p>
        </span>
    </div>

    <div id="vote-container">
        <p id="votes">{{likes}}</p>
        <i class="material-icons">thumb_up</i>
    </div>

    <p class="content">{{  body }}</p>
    {{#if isUserMember}}
    <div class="thread-actions box-container">
        <a id="like-btn"{{#if isLiked}} class="active"{{/if}}><i id="like-icon" class="material-icons">thumb_up</i>Like</a>
        <a id="dislike-btn"{{#if isDisliked}} class="active"{{/if}}><i id="dislike-icon" class="material-icons">thumb_down</i>Dislike</a>
        <a id="reply-btn"><i class="material-icons">reply</i>Reply</a>
        <a id="share-btn"><i class="material-icons">share</i>Share</a>
        {{#if isOwnThread}}
            <a href="/subf/{{subforumName}}/{{ _id}}/delete" id="del-btn>"><i class="material-icons">delete</i>Delete</a>
        {{/if}}
    </div>
    {{/if}}
</div>