<html>

<head>
    <title>Edit Profile | disqussip</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/profilepage-styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/js/editProfile.js"></script>
    <script src="/js/nav.js"></script>
    <style>
        body {
            background-color: #F4F4F4;
        }
		#edit-account { 
			width: auto; 
		}
		#msg {
			font-style: italic;
			color: grey;
			display: inline;
		}
		#reset {
			display: none;
		}
    </style>
</head>

<body>
    {{> navbar user=username}}

	<div id="display-body">
	<div class="profile-box center">
		<div class="col">
			<img id="profile-picture" src="/images/{{username}}" />

			<div id="container">
				<center>
				<form id="img_form" enctype="multipart/form-data" method="post">
					<label id="btn-change-photo" for="edit-profile-photo">Change Photo</label><br />
					<input type="file" accept="image/png, image/jpg, image/jpeg" name="edit_profile_photo" id="edit-profile-photo" />
				</form>
				</center>
			</div>

			<input type="text" id="edit-name" name="name" value="{{name}}" placeholder="Display Name" />
			<h2>{{username}}</h2>

			<br />

			<button id="view-profile" class="green">Back to Profile</button>
			<button id="edit-account" class="light">Change Account Details</button>
		</div>
		<div class="col">
			<h3>About Me</h3>
			<div id="edit-about" contenteditable>{{aboutMe}}</div>
			<h3>My Interests</h3>
			<div id="edit-interests" contenteditable>{{myInterests}}</div>

			<div class="btn-container">
				<p id="msg"></p>
				<button id="change_profile" class="green" disabled>Save</button>
				<button id="cancel" class="light">Cancel</button>
				<button id="reset" class="light">Reset</button>
			</div>
		</div>
	</div>
	</div>

</body>

</html>