<html>

<head>
    <title>{{ subforum.title }} | disquissip</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/threads.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/nav.js"></script>
    <style>
        body {
            background-color: #F4F4F4;
        }
        #threads > b {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    {{> navbar user=user}}
    
    <div id="subforum-heading">
        <div id="subforum-info">
            <h2>{{ subforum.title }}</h2>
            <p>{{ subforum.description }}</p>
        </div>
        <div id="action-buttons">
            {{#if subforum.isUserMember}}
                <button id="createThread-btn" class="light">Create Thread</button>
                {{#if subforum.isUserOwner}}
                    <button id="delete-btn" class="light">Delete Subforum</button>
                {{else}}
                    <button id="leave-btn" class="light">Leave Subforum</button>
                {{/if}}    
            {{else}}
                <button id="join-btn" class="green">Join</button>
            {{/if}}
        </div>
    </div>

    <!-- all threads here -->
    <div id="threads">

        <b>Recent Threads</b>

        {{#each threads}}
            {{> threadHeading}}
        {{/each}}

    </div>

    <!-- Set active item on navbar -->
    <script>
        $('#join-btn').click( function() { // onclick "Join"
            location.href = location.href + '/join';
        });
        
        $('#createThread-btn').click( function() { // onclick "Create Thread"
            location.href = location.href + '/new/thread';
        });

         $('#leave-btn').click( function() { // onclick "Create Thread"
            location.href = location.href + '/leave';
        });
        
        $('#delete-btn').click( function() { // onclick "Create Thread"
            location.href = location.href + '/delete';
        });

        $('nav > #subforums').addClass('active');

        var username = $('nav > #profile-slot > #username').text();
        var subf = $('#subforum-info h2').text().trim().toLowerCase().replace(' ','-');
        console.log(subf);
        let query = {
            members: username,
            subforumName: subf
        }
        
    </script>	
</body>

</html>