<html>

<head> 
    <title>{{ thread.threadTitle }} | {{ subforum.title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/threads.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/nav.js"></script>
    <style>
        body { background-color: #F4F4F4; }
        form { display: none; }
    </style>
</head>

<body>
    {{> navbar }}

    <div id="subforum-heading">
        <div id="subforum-info">
            <a href="/subf/{{ subforum.subforumName }}">
                <h2>{{ subforum.title }}</h2>
            </a>
            <p>{{ subforum.description }}</p>
        </div>
    </div>

    <!-- thread topic box -->
    {{>thread  thread}}

    <!-- share actions -->
    <div id="share-actions" class="box-container">
        <button id="close-btn" class="material-icons">close</button>
        <p>To share this thread, copy the following link:</p>
        <div id="link" class="box-container" contenteditable></div>
        <div id="socials">
            <p>or share to   &nbsp;</p>
            <a id="twitter-share" onclick="shareToTwitter()"><img src="/resources/icons/twt.png" /></a>
            <a id="fb-share" onclick="shareToFacebook()"><img src="/resources/icons/fb.png" /></a>
            <a id="mail-share" onclick="shareToEmail()"><img src="/resources/icons/mail.png" /></a>
        </div>
    </div>

    <!-- write reply -->
    <div id="text-editor" class="box-container">
        <span class="material-icons reply-mark">subdirectory_arrow_right</span>
        <h3>Reply to Thread</h3>

        <div id="content" class="box-container" contenteditable></div>

        <div id="actions">
            <button class="light">Cancel</button>&nbsp;
            <button class="green">Post</button>
        </div>
    </div>
    
    <!-- all replies here -->
    <div id="replies">
        {{#each replies}}
            {{>reply}}
        {{/each}}
    </div>

    <!-- scripts -->
    <script src="/js/threadactions.js"></script>
    
    <!-- Set active item on navbar -->
    <script>
        $('nav #subforums').addClass('active');
    </script>	
</body>

</html>